<div class="Productos">
    <div class='grilla'>
        <h2>Nuestros productos</h2>

        <div class="CardProducto" *ngFor="let instrumentoAux of instrumentosArr; let i = index">
            <div class="Card-Content">
                <div class="card-imagen-content">
                    <a class="buttom-imagen" (click)="verInstrumento(instrumentoAux.id)"> <img
                            src="assets/img/{{instrumentoAux.imagen}}" class="card-imagen" alt="..." /></a>
                </div>
                <div class="card-datos">
                    <div class="card-datos-content">
                        <p class="card-titulo">{{instrumentoAux.instrumento}}</p>
                        <h3 class="card-precio">{{instrumentoAux.precio}}</h3>
                        <h6 class="card-envioGratis" *ngIf="instrumentoAux.costoEnvio ==='G'"><img class="imagen-camion" src="assets/img/camion.png" alt='...'/>Envío gratis a todo el país</h6>
                        <h6 class="card-envioCosto" *ngIf="instrumentoAux.costoEnvio !=='G'">Costo de envio Interior de Argentina {{instrumentoAux.costoEnvio}}</h6>
                        <p class="card-cantVentas">{{instrumentoAux.cantidadVendida}} vendidos</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>