<div class="Nav">
    <nav class="Nav-nav">
        <div class="nav-div-content">
            <ul class="nav-div-content-ul">
                <li class="ul-nav__item">
                    <a class="nav__buttom" [routerLink]="['home']">Home</a>
                </li>
                <li class="ul-nav__item">
                    <a class="nav__buttom" [routerLink]="['donde']">¿Donde estamos?</a>
                </li>
                <li class="ul-nav__item">
                    <a class="nav__buttom" [routerLink]="['products']">Productos</a>
                </li>
                <li class="ul-nav__item">
                    <a class="nav__buttom" [routerLink]="['crud']">Crud</a>
                </li>
            </ul>
        </div>

    </nav>
</div>